/**
 * Styling for the gadget manager javascript-generated user interface.
 */

/**
 * Form
 */
.mw-gadgetmanager-form fieldset {
	margin: 0;
}

.mw-gadgetmanager-form table {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}

.mw-gadgetmanager-label {
	width: 20%;
}

.mw-gadgetmanager-form td,
.mw-gadgetmanager-form th {
	vertical-align: top;
	padding: 2px;
}

.mw-gadgetmanager-id-wrapper {
	width: 100%;
	margin-bottom: 12px;
}

.mw-gadgetmanager-id-wrapper label {
	margin-left: 20%;
	display: inline-block;
}

.mw-gadgetmanager-id {
	margin: 0 5px 0 0;
	padding: 3px;
	border: 1px solid grey;
	background-color: white;
}

.mw-gadgetmanager-id-available {
	background-color: #E5F6E5;
}

.mw-gadgetmanager-id-invalid {
	background-color: #F6E5E5;
}

.mw-gadgetmanager-id-taken {
	background-color: #E5EFF6;
}

.mw-gadgetmanager-id.disabled {
	background-color: #F6F6F6;
	border-color: lightgrey;
}

.mw-gadgetmanager-id input {
	margin: 0;
	padding: 0;
	display: inline-block;
	width: 30%;
	border: 0;
	outline: 0;
	background: transparent;
}

.mw-gadgetmanager-id-error {
	display: none;
	color: #FF4040;
	font-style: italic;
}

/**
 * Gadget list
 */
.client-js .mw-gadgets-gadget:hover {
	cursor: pointer;
}

/**
 * The PropCloud
 */
.mw-gadgetmanager-propcloud {
	overflow: hidden;
	padding: 3px;
	border: 1px solid grey;
	background: white;
}

.mw-gadgetmanager-prop {
	float: left;
	margin: 2px 5px 5px 2px;
	padding: 2px 5px;
	background: #e5eff6;
	border: 1px solid #a4d2fb;
	border-radius: 10px;
	line-height: 1;
}

.mw-gadgetmanager-prop-delete {
	display: inline-block;
	width: 10px;
	height: 10px;
	/* @embed */
	background: url(images/close.png) 50% 50% no-repeat;
	opacity: 0.4;
}

.mw-gadgetmanager-prop:hover .mw-gadgetmanager-prop-delete {
	opacity: 0.7;
}

.mw-gadgetmanager-prop:hover .mw-gadgetmanager-prop-delete:hover {
	opacity: 1;
	cursor: pointer;
}

.mw-gadgetmanager-propinput,
.mw-gadgetmanager-propinput:focus {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: transparent;
}
