/* Gadget list */
.mw-gadgets-list {
	width: 100%;
	border-bottom: 1px solid #ccc;
}

.mw-gadgets-gadget {
	overflow: hidden;
	position: relative;
	padding: 0.5em;
	border: 1px solid #ccc;
	border-bottom: 0;
}

.mw-gadgets-gadget:hover {
	background: #f9f9ff;
}

.mw-gadgets-title {
	font-weight: bold;
	min-height: 1.6em;
}

/* Tool links */

.mw-gadgets-messagelink {
	font-size: 75%;
	font-weight: normal;
}

.mw-gadgets-messagelink a {
	padding-left: 18px;
	/* @embed */
	background-image: url(images/edit-faded.png);
	background-position: left top;
	background-repeat: no-repeat;
}

.mw-gadgets-messagelink a:hover {
	/* @embed */
	background-image: url(images/edit.png);
}

.mw-gadgets-gadgetlinks {
	float: right;
	height: 1.6em;
	padding: 0 0 0.5em 0.5em;
	font-size: 75%;
	font-weight: normal;
}

.mw-gadgets-gadgetlinks {
	float: right;
}

.mw-gadgets-gadgetlinks a {
	margin: 0 9px;
}

/* Export */
.mw-gadgets-exportform fieldset {
	max-width: 50%;
}
