.mw-gadgetmanager-gadgets.mw-datatable th {
	padding: 2px 21px 2px 5px;
}

.mw-gadgetmanager-gadgets.mw-datatable td {
	padding: 2px 5px;
}

.mw-gadgetmanager-gadgets-default,
.mw-gadgetmanager-gadgets-hidden,
.mw-gadgetmanager-gadgets-shared {
	width: 4em;
	text-align: center;
}
